<!--component html goes here -->
<div class="body">
  <div class="title">Welcome to</div>
  <div class="logo"></div>
  <div class="notice">Xin vui lòng đăng nhập</div>
  <div class="btn-login">
    <button color="primary" md-button (click)="auth.login();">
        Đăng nhập
    </button>
  </div>
  <div class="notice-1">Nếu bạn chưa có tài khoản vui lòng liên hệ:<br>
    <a href="mailto:leonguyen236@gmail.com?Subject=Yêu cầu cấp tài khoản" target="_top">
        <b>leonguyen236@gmail.com</b>
    </a>
  </div>
</div>
