<md-sidenav-container *ngIf="auth.isAuthenticated()" class="container">
  <md-sidenav #sidenav class="sidenav">
    <perfect-scrollbar>
      <div class="header">
        <img src="{{ auth.isAuthenticated() ? profile?.picture : '../assets/images/user.png' }}" alt="">
        <!-- <div *ngIf="auth.isAuthenticated()" class="name">{{ profile.name }}</div> -->
        <md-menu xPosition="before" yPosition="below" [overlapTrigger]="false" #appMenu="mdMenu">
          <button (click)="auth.logout();" md-menu-item> Log Out </button>
        </md-menu>
        <button *ngIf="auth.isAuthenticated()" md-button [mdMenuTriggerFor]="appMenu">
          {{ profile?.name }} <i class="material-icons">arrow_drop_down</i>
        </button>
        <button *ngIf="!auth.isAuthenticated()" md-button (click)="auth.login();sidenav.toggle();">
          Log In
        </button>
      </div>
      <md-list class="menu">
        <md-list-item>
          <button class="btn-item" color="{{route === 'home' ? 'primary' : ''}}" (click)="sidenav.toggle(); route = 'home'" routerLink="/home"
            routerLinkActive="active" md-button>
            <div class="item">
              <i class="material-icons">home</i> <div>Home</div>
            </div>
          </button>
        </md-list-item>
        <md-list-item>
          <button *ngIf="auth.isAuthenticated()" color="{{route === 'album' ? 'primary' : ''}}" class="btn-item" (click)="sidenav.toggle(); route = 'album'"
            routerLink="/album" md-button>
            <div class="item">
              <i class="material-icons">photo_album</i><div>Albums</div>
            </div>
          </button>
        </md-list-item>
        <md-list-item>
          <button *ngIf="auth.isAuthenticated()" color="{{route === 'contact' ? 'primary' : ''}}" class="btn-item" (click)="sidenav.toggle(); route = 'contact'"
            routerLink="/contact" md-button>
            <div class="item">
              <i class="material-icons">perm_contact_calendar</i><div>Videos</div>
            </div>
          </button>
        </md-list-item>
        <md-list-item>
          <button *ngIf="auth.isAuthenticated()" color="{{route === 'contact' ? 'primary' : ''}}" class="btn-item" (click)="sidenav.toggle(); route = 'contact'"
            routerLink="/contact" md-button>
            <div class="item">
              <i class="material-icons">perm_contact_calendar</i><div>Contact</div>
            </div>
          </button>
        </md-list-item>
      </md-list>
      <!-- <button *ngIf="auth.isAuthenticated()" md-button (click)="auth.logout();sidenav.toggle();">
        Log Out
      </button> -->
    </perfect-scrollbar>
  </md-sidenav>
  <md-toolbar class="toolbar top" color="primary">
    <div class="block menu">
      <md-icon class="menu-icon" (click)="sidenav.open()">menu</md-icon>
    </div>
    <div class="block">
      <div class="logo"></div>
    </div>
    <div class="block">
    </div>
  </md-toolbar>
  <perfect-scrollbar (ps-scroll-y)="scrollToTop($event)" style="height: 100%">
    <router-outlet></router-outlet>
    <div class="footer">
      <div class="left">
        <div class="title">Design by</div>
        <div class="logo"></div>
      </div>
      <div class="middle">
        <div class="title">Connect</div>
        <div class="social">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </div>
      </div>
      <div class="right">
        <div class="title">Contact</div>
        <div class="detail">
          <i class="fa fa-phone-square" aria-hidden="true"></i> 0963 415 993<br>
          <i class="fa fa-envelope" aria-hidden="true"></i> leonguyen236@gmail.com</div>
      </div>
    </div>
    <div class="copyright">
      Copyright © 2017. NHF
    </div>
  </perfect-scrollbar>
</md-sidenav-container>
<login *ngIf="!auth.isAuthenticated()"></login>
