/* You can add global styles to this file, and also import other style files */

/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import '~@angular/material/theming';
/* Plus imports for other components in your app.*/
/* Include the common styles for Angular Material. We include this here so that you only*/
/* have to load a single css file for Angular Material in your app.*/
/* **Be sure that you only ever include this mixin once!***/
@include mat-core();
/* Define the theme.*/
$candy-app-primary: mat-palette($mat-light-blue, 900);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);
/* Include the theme styles for only specified components.*/
/* @include mat-core-theme($candy-app-theme);*/
/* @include mat-button-theme($candy-app-theme);*/
/* @include mat-checkbox-theme($candy-app-theme);*/
@include angular-material-theme($candy-app-theme);
body {
  margin: 0;
  font-family: 'Roboto-Light' !important;
}

.menu .mat-list-item .mat-list-item-content {
  padding: 0 !important;
}

login .body .btn-login .mat-button {
  font-size: 38px;
  font-family: roboto-thin;
  padding: 20px 90px;
  color: #fafafa;
  background: rgba(0, 0, 0, 0.07);
}


/* fallback */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('assets/fonts/MaterialIcons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
