// component css goes here
.body {
  background-image: url('http://wallpapercave.com/wp/wp1862254.png');
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  
}
.images {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    align-items: center;
    .image{
      // background-size: 100px 100px;
      width: 100px;
      height: 100px;
      background-position: center;
    }
  }
