<!--component html goes here -->
<!-- <div class="body">
  <div> Please log in to see a magic! </div>
</div> -->
<!-- <div class="images">
  <div style="width: calc(100% - 40px)">
    <div *ngFor="let image of images; let i = index;" class="image" [style.background-image]="'url(' + image.thumb + ')'" style="margin: 5px"></div>
  </div>
</div>  -->
<div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div [ngStyle]="{ 'background-image': 'url(http://nguyenduyhai.com/themes/enterprise/album/dl1/slides/g%C3%B3c%20%E1%BA%A3nh%20%C4%91%E1%BA%B9p%20%C4%91%C3%A0%20l%E1%BA%A1t%20-%20album%201%20-%2005.jpg)'}" style="transition: 0.5s;width: 100%;height: 500px;background-position: center"
          class="d-block img-fluid" alt="First slide">
          <div class="filter"></div>
        </div>
        <div class="carousel-caption  d-md-block">
          <h1 class="display-3">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
      <!-- <div class="carousel-item ">
        <div [ngStyle]="{ 'background-image': 'url(http://hdqwalls.com/download/minimalism-triangle-art-hd-1600x1200.jpg)'}" style="transition: 0.5s;width: 100%;height: 300px;background-position: center"
          class="d-block img-fluid" alt="First slide">
          <div class="filter"></div>
        </div>
        <div class="carousel-caption  d-md-block">
          <h3>Album 1</h3>
          <p>Teset</p>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- <iframe src="https://drive.google.com/embeddedfolderview?id=0B1p9BpazNQwDby1wZWxhbFdrU1E#grid" style="width:100%; height:600px; border:0;"></iframe> -->
